{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock title %}

{% block staticcss %}

	<link rel="stylesheet" type="text/css" href="{% static 'ecomapp/css/home_page.css' %}">
	<style>
		a{
			color: #819BE7;
		}
	</style>
{% endblock staticcss %}

{% block navbar %}

	{% include 'base/navbar.html' %}

{% endblock navbar %}

{% block content %}
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-12">
				{% if vagitable is not None %}
					<a href="{% url 'VagitableListView' %}">
						{% include 'pages/snippets/category.html' with type=vagitable title='vagitable' %}
					</a>
				{% endif %}

				{% if book is not None %}
					<a href="{% url 'BookListView' %}">
						{% include 'pages/snippets/category.html' with type=book title='book' %}
					</a>
				{% endif %}

				{% if electronic is not None %}
					<a href="{% url 'ElectronicListView' %}">
						{% include 'pages/snippets/category.html' with type=electronic title='electronic'  %}
					</a>
				{% endif %}

				{% if mens_fashion is not None %}
					<a href="{% url 'MensFasionListView' %}">
						{% include 'pages/snippets/category.html' with type=mens_fashion title='mens_fashion' %}
					</a>
				{% endif %}
				{% if womens_fashion is not None %}
					<a href="{% url 'WomanFasionListView' %}">
						{% include 'pages/snippets/category.html' with type=womens_fashion title='womens_fashion' %}
					</a>
				{% endif %}

				{% if home_appliences is not None %}
					<a href="{% url 'HomeAppliencesListView' %}">
						{% include 'pages/snippets/category.html' with type=home_appliences title='home_appliences' %}
					</a>
				{% endif %}

				{% if helth is not None %}
					<a href="{% url 'HelthListView' %}">
						{% include 'pages/snippets/category.html' with type=helth title='helth' %}
					</a>
				{% endif %}

				{% if outdoor is not None %}
					<a href="{% url 'OutdoorListView' %}">
						{% include 'pages/snippets/category.html' with type=outdoor title='outdoor' %}
					</a>
				{% endif %}
			</div>
		</div>	
		{% if request.user.is_authenticated %}	
			<div class="row">
				<div class="col">
					<h1 class="title">Premium</h1>
					{{ premium_content }}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock content %}

{% block staticjs %}
	
	<script type="text/javascript" src="{% static 'ecomapp/js/home_page.js' %}"></script>

{% endblock staticjs %}