{% extends 'base.html' %}
{% block title %}Product details{% endblock title %}

{% block content %}
	
	<div class="container">
		<div class="product_list_page">
			<a href="{% url 'ProductListView' %}">...Back to main page..</a>
		</div>
		<div class="product_details">
			<div class="row">
				<div class="col-12 col-md-8">
					<div class="product">
						<header class="product_header">
							<h1 class="title">{{ object.title }}</h1>
							<h5 class="meta">{{ object.timestamp }}</h5>
							{% if object.image %}
								{{ object.image.url }}
								<img src="{{ product.image.url }}" class="img-fluid">
							{% endif %}
						</header>
						<div class="product_body">
							<p class="description">{{ object.description|linebreaks }}</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					{% include 'products/snippets/cart_update.html' with product=object cart=cart %}
				</div>
			</div>
		</div>
	</div>

{% endblock content %}